<h3>Your Account</h3>
<p>
  Username: <%= @user.username %><br>
  Real Name: <%= @user.real_name %><br>
  Bio: <%= @user.bio %>
</p>
<ul id="user-sound-list">
<h3>Your Sounds</h3>
<% @user.sounds.each do |sound| %>
  <li><%= sound.title %>: <a href="/<%= sound.public_file_path %>"><%= sound.soundfile %></a></li>
<% end %>
</ul>
<p id="user-actions">
  <a href="/users/<%= @user.username %>/edit">Edit <%= @user.username %></a><br>
  <form action="/users/<%= @user.username %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Delete this user">
  </form>
</p>