<h3>Your Account</h3>
<p>
  Username: <%= @user.username %><br>
  Real Name: <%= @user.real_name %><br>
  Bio: <%= @user.bio %>
</p>
<ul id="user-sound-list">
<h3>Your Sounds</h3>
<% if @user.sounds.empty? %>
<p>You don't have any sounds yet. <a href="/sounds/new">Create a sound</a>.</p>
<% else %>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Soundfile</th>
            <th>MIME Type</th>
            <th>Play Sound</th>
        </tr>
    </thead>
    <tbody>
        <% @user.sounds.each do |sound| %>
        <tr>
            <td><a href="/sounds/<%= sound.id %>"><%= sound.title %></a></td>
            <td><a href="/<%= sound.public_file_path %>"><%= sound.soundfile %></a></td>
            <td><%= sound.mime_type %></td>
            <td>
                <audio controls>
                    <source src="/<%= sound.public_file_path %>" type="<%= sound.mime_type %>"/>
                </audio>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>
</ul>
<p class="show-actions">
  <a href="/users/<%= @user.username %>/edit" class="button-link">Edit your account</a><br>
  <form action="/users/<%= @user.username %>" method="post" class="delete-form">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Delete your account">
  </form>
</p>