<h2>Sounds</h2>
<% unless @sounds.empty? %>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Title</th>
            <th>Soundfile</th>
        </tr>
    </thead>
    <tbody>
        <% @sounds.each do |sound| %>
        <tr>
            <td><a href="/users/<%= sound.user.username %>"><%= sound.user.username %></a></td>
            <td><a href="/sounds/<%= sound.id %>"><%= sound.title %></a></td>
            <td><a href="/<%= sound.public_file_path %>"><%= sound.soundfile %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
<h3>You don't have any sounds yet. <a href="/sounds/new">Upload a sound</3>.
<% end %>